@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap");

body {
    background: url(https://th.bing.com/th/id/R.0ee2eca0ac8d0cd7214f488b39e73be6?rik=zusfT7wYuQYavQ&pid=ImgRaw&r=0) no-repeat center/cover;
    animation: fadeIn 1.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.img2{
    position: absolute;
    left: 15%;
    top: 15%;
    border-radius: 200px;
    width: 10%;
    height: 20%;
}

.img{
    position: absolute;
    left: 85%;
    top: 15%;
    border-radius: 200px;
    width: 10%;
    height: 20%;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: transateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes colorChange {
    0% {
        color: #ffffff;
    }
    50% {
        color: rgb(255, 255, 0);
    }
    100% {
        color: #ffffff;
    }
}


header.header {
    left: 25%;
    top: 1%;
    position: absolute;
    width: 50%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px ;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    animation: slideDown 1.5s ease-in-out;
}

header.header h1 {
    margin: 0;
    animation: pulse 2s ;
}

header.header nav ul {
    list-style: none;
    padding: 0;
}

header.header nav ul li {
    display: inline;
    margin: 0 10px;
}

header.header nav ul li a {
    color: white;
    text-decoration: none;
    animation: colorChange 2s ;
}

header.header nav ul li a:hover {
    font-family: "Italiana";
    font-size: 40px;
    background-color: #abc6e2;
    box-shadow: 0 0 20px rgba(171, 198, 226, 0.6), 0 0 40px rgba(171, 198, 226, 0.6), 0 0 60px rgba(171, 198, 226, 0.6);
    transform: scale(1.1);
}

.h_h{
    font-family: "Inter";
}

.h_h:hover{
    color: black;
    font-size: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(199, 192, 192), 0 0 40px rgba(171, 198, 226, 0.6), 0 0 60px rgba(171, 198, 226, 0.6);
    transform: scale(1.1);
}

.Clicker {
    position: absolute;
    top: 0%;
    font-family: "Italiana";
    box-shadow: 0 0 20px  #5a1187, 0 0 40px rgba(171, 198, 226, 0.6), 0 0 60px rgba(171, 198, 226, 0.6);
    transform: scale(1.1);
    font-size: 40px;
    color: #fff;
    border-radius: 17px;
    background: #5a1187;
    text-align: center;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 20px; 
    animation: fadeIn 2s ease-in-out, pulse 2s;
}

.ochki {
    font-family: "Inter";
    margin-top: 190px;
    font-size: 40px;
    color: #fff;
    animation: fadeIn 2s ease-in-out, pulse 2s ;
}

.ochki:hover{
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(145, 255, 1, 0.6), 0 0 40px rgba(171, 198, 226, 0.6), 0 0 60px rgba(171, 198, 226, 0.6);
    transform: scale(1.1);
}

.container {
    position: absolute;
    top: 45%;
    left: 600px;
    background: url(https://avatars.dzeninfra.ru/get-zen_doc/3908958/pub_60a0e29585151531ba9f08d3_60a0fe07e0626f5a388d2d9a/scale_1200) no-repeat center/ cover;
    animation: fadeIn 1.5s ease-in-out, pulse 5s ;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
}

#clickerButton {
    font-family: "Italiana";
    height: 40px;
    padding: 15px 15px ;
    font-size: 16px;
    border-radius: 15px;
    background-color: #823939;
    color: #ffffff;
    animation: fadeIn 2s ease-in-out, pulse 2s ;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
}

#clickerButton:hover {
    font-family: "Italiana";
    background-color: #d2baba;
    box-shadow: 0 0 20px rgba(171, 198, 226, 0.6), 0 0 40px rgba(171, 198, 226, 0.6), 0 0 60px rgba(171, 198, 226, 0.6);
    transform: scale(1.1);
}

#clickerButton:before {
    content: '';
    position: absolute;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40%;
    pointer-events: none;
}

#clickerButton:hover:before {
    width: 400%;
    height: 400%;
}